{% extends 'base.html.twig' %}

{% block title %}Route Generator{% endblock %}

{% block body %}
<div class="search-content">
    <div class="start-content">
        <input type="text" id="start-location" placeholder="Départ">
    </div>
    <div class="end-content">
        <input type="text" id="end-location" placeholder="Arrivée">
    </div>
</div>
<div class="map">
    {{ render_map(map, { style: 'min-height: 100vh' }) }}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const startInput = document.getElementById('start-location');
        const endInput = document.getElementById('end-location');

        startInput.addEventListener('input', function() {
            fetchAddressSuggestions(startInput);
        });

        endInput.addEventListener('input', function() {
            fetchAddressSuggestions(endInput);
        });

        function fetchAddressSuggestions(inputElement) {
            const query = inputElement.value;
            if (query.length < 3) {
                return;
            }

            fetch(`https://api-adresse.data.gouv.fr/search/?q=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    const suggestions = data.features.map(feature => feature.properties.label);

                    console.log('Suggestions:', suggestions);
                    showSuggestions(inputElement, suggestions);
                })
                .catch(error => console.error('Error fetching address suggestions:', error));
        }

        function showSuggestions(inputElement, suggestions) {
            // Supprimez les anciennes suggestions
            let suggestionBox = inputElement.nextElementSibling;
            if (suggestionBox) {
                suggestionBox.remove();
            }

            // Crée une nouvelle boîte de suggestions
            suggestionBox = document.createElement('ul');
            suggestionBox.classList.add('suggestion-box');

            suggestions.forEach(suggestion => {
                const item = document.createElement('li');
                item.textContent = suggestion;
                item.addEventListener('click', function() {
                    inputElement.value = suggestion;
                    suggestionBox.remove();
                });
                suggestionBox.appendChild(item);
            });

            inputElement.parentNode.appendChild(suggestionBox);
        }
    });
</script>
{% endblock %}
