{% extends 'base.html.twig' %}

{% block title %}Route Generator{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
{% endblock %}
{% block body %}
<div class="search-content">
    <div class="start-content">
        <input type="text" id="start-location" placeholder="Départ">
    </div>
    <div class="end-content">
        <input type="text" id="end-location" placeholder="Arrivée">
    </div>
</div>
<div id="map" style="min-height: 100vh; width: 100vw;">
    {# {{ render_map(map, { style: 'min-height: 100vh' }) }} #}
</div>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nominatim-js@1.0.10/lib/nominatim-js.min.js"></script>
<script>
    const points = {{ points|json_encode()|raw }};
</script>
<script src="{{asset('/js/autoFill.js')}}"></script>
{% endblock %}